<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons fill="clear" slot="end">
      <ion-button routerLink="/login">
        <img class="img_header" src="..\assets\icon\login.svg">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="logo"></ion-img>
      </ion-col>
    </ion-row>   
  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-button fill="clear" class="img_footer">
      <img src="..\assets\icon\bag-outline.svg">
    </ion-button>
    
  </ion-toolbar>
</ion-footer>