<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-buttons slot="start" >
      <ion-button color="light" routerLink="/footer-store">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="https://img.telemart.ua/181596-441299-product_popup/amd-ryzen-5-1600-3236ghz-sam4-box-yd1600bbafbox.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-col class="card">
        
              Ryzen 
          
      </ion-col>
    </ion-row>
  </ion-grid>
    
  

</ion-content>
