ion-label{
    color:#2A4072;
    font-weight: 500;
    font-size: 24px;    
}

ion-button{
    font-weight: 900;
    font-size: 11px;
    font-style: normal;
    --border-radius: 6px;
}

ion-input{      
    border:2px solid #2A4072;
    border-radius: 10px;
    height: 52px;
}

.button_register{
    width: 113px;
    height: 39px;
}

.button_logar{
    height: 52px;   
}

.button_passwd{
    width: 198px;
    height: 52px;   
}


