ion-toolbar{
    --min-height: 2px;
}

ion-label{
    color:#2A4072;
    font-weight: 500;
    font-size: 24px;   
}

ion-input{      
    border:2px solid #2A4072;
    border-radius: 10px;
    height: 39px;
   /* width: 258px;*/
}

ion-span{
    margin-top: 20px;
    color:#2A4072;
    font-size: 13px;
}

#form_button{    
    font-weight: 900;
    font-size: 11px;
    font-style: normal;
    --border-radius: 6px;
    height: 46.15px;
    width: 166px;
}

.label{
    color:#2A4072;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
   
}
